<div class="contents row">
  <div class="container">
    <% @tweet.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
    <%= form_with(model: @tweet, local: true) do |form| %>
      <h3>投稿する</h3>
      <%= render partial: "form", locals: { form: form } %>
    <% end %>
  </div>
</div>
<%= render partial: "footer" %>