// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top {
  background-color:#FFCC99;
  position: relative;
  &__view{
    width: 100%;
    height: 500px;
  }
  &__first {
    color: white;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }
  &__spel {
    color: white;
    font-size: 30px;
    position: absolute;
    left: 270px;
    top: 20px;
  }
  
}

.main{
  background-color:#FFCC99;
}

.tweet-genre {
  color: white;
  font-size: 20px;
  border: 3px solid ;
  padding: 2px;
  font-weight: bold;
  width: 13%;
}

.name {
  color: white;
}

.genre-select {
  margin: 20px 0 30px 0;
}

.pagenate{
  text-align: center;
  font-size: 25px;
  color: white;
  background-color:#FFCC99;
}

.footer{
  background-color:#FFCC99;
  position: relative;
  &__view {
    width: 100%;
    height: 500px;
  }
  &__spel {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 35px;
    font-weight: bold;
  }
}

.flash {
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: orange;
}