// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top {
  &__View {
    width: 100vw;
    height: 500px;
    &__spel {
      color: white;
    }
  }
}